<div *ngIf="visita == 3">
  <div>
    <h1>Descrizione del documento</h1>
    <div>{{ posizione }}</div>
    <div>Autore: {{ autore }}</div>
    <div>Titolo: {{ titolo }}</div>
  </div>
  <app-prestito
    [libroScelto]="libroScelto"
    [visita]="visita"
    (cambioVista)="cambiaVista($event)"
  ></app-prestito>
  <app-eliminazione
    [libroScelto]="libroScelto"
    [mioArchivio]="mioArchivio"
    [visita]="visita"
    (cambioVista)="cambiaVista($event)"
  ></app-eliminazione>
  <button (click)="cambiaVista(2)">Esci</button>
</div>
